@charset "UTF-8";

/* すべての要素に適用 */
* {
    box-sizing: border-box;
}

/* ボディの設定 */
body {
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
    position: relative;
    margin: 0;
    background: white;
    display: grid;
    grid-template-columns:
        [left] 20px [main] 1fr [end] 20px [right];
    grid-template-rows:
        [header] auto [main] auto [aside] auto [footer] auto [bottom];
}

/* ヘッダー */
header {
    position: relative;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: header;
    grid-row-end: main;
    text-align: center;
    background: white;
    color: #004896;
    border: double 10px #004896;
}

/* メイン */
main {
    grid-column-start: main;
    grid-column-end: end;
    grid-row-start: main;
    grid-row-end: aside;
    margin-bottom: 50px;
}

img {
    width: 100%;
}

.contents {
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.contents h3 {
    text-align: center;
}

.contents p {
    padding-left: 5px;
    border-left: solid 10px #004896;
}

.link {
    margin-top: 50px;
    text-align: center;
}

.camera {
    border-radius: 5px;
    background-color: #004896;
    padding: 10px;
    text-decoration: none;
    color: white;
}

/* フッター */
footer {
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: footer;
    grid-row-end: bottom;
    text-align: center;
    height: 40px;
    background: rgb(224, 224, 224);
    color: rgb(67, 67, 67);
}
